@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.home-banner {
  background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), #000000),
    url("../../images/Modern.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60dvh;
  width: 100dvw;
}
.home-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.home-banner h2 {
  font-size: 3rem;
  font-weight: 800;
}
.home-banner h2 span {
  font-family: "Lobster", cursive;
  font-size: 2.8rem;
}
.home-banner p {
  font-weight: 600;
}
.home-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 60dvw;
  border-radius: 0.5rem;
  background: #ffffff;
  padding-left: 0.5rem;
  padding-right: 2rem;
  box-shadow: 2px 2px 10px #ffffff;
}
.home-input h4 {
  color: #000000;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
}
.home-category {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .home-banner {
    text-align: center;
    height: 70dvh;
  }
  .home-input {
    width: 95dvw;
  }
}
@media screen and (min-width: 601px) {
  .home-input {
    width: 60dvw;
  }
}
