.policy-container {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  width: 80dvw;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2rem;
}
.policy-container h4 {
  text-align: center;
}
.policy-container p span {
  color: #000000;
  font-family: "Lobster", cursive;
}
.pol-sub h4 {
  text-align: start;
}
